@model Script

<p>Edit Script</p>

<form method="post" asp-action="Edit" asp-route-id="@Model.Id" style="height: 75vh;">
    <div class="mb-3">
        <div class="form-floating">
            <input name="name" id="name" class="form-control" aria-describedby="script name" value="@Model.Name"/>
            <label for="name">Script Name</label>
        </div>
    </div>
    <div class="mb-3 h-50">
        <div class="form-floating h-100">
            <textarea name="content" id="content" class="form-control h-100" aria-describedby="script content">@Model.Content</textarea>
            <label for="content">Content</label>
        </div>
    </div>
    @foreach (var variable in Model.Variables)
    {
        <div class="mb-1">
                <label for="@variable">@variable</label>
        </div>
    }
    <button type="submit" class="btn btn-success">Update</button>
</form>